.projects {
    width: 100%;
    @media screen and (min-width: 900px) {
        width: 50%;
    }
}

.projects > p {
    text-align: center;
    // padding: 20px;
}

.carousel__container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    width: 100%;
}

.project__info {
    display: none;
    @media screen and (min-width: 600px) {
        display: block;
    }
}
