@import "./experienceCard.scss";

.experience {
    padding-top: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .8);;
    padding: 3em 0;
}

.experience-container {
    display: flex;
    flex-direction: column;
    // max-width: 50rem;
    width: 80%;
    // background-color: red;
    @media screen and (min-width:900px) {
        max-width: 60%;
        
    }
}