.experience__card {
    margin: 20px 0;
    p {
        color: darkgrey;
    }
}

.card__detail {
    display: flex;
    img {
        margin: 0 10px 5px 0;
        width: 10em;
        height: 10em;
    }
}

.card_detail_element{

}