@import "../../abstracts/variables.scss";

.home {
    font-size: 25px;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 900px) {
        justify-content: end;
    }
}

.home__container {
    @media screen and (min-width: 900px) {
        margin-right: 300px;
    }
}

.invisible {
    color: rgba(255, 255, 255, 0);
}
