@import "../../abstracts/mixins.scss";
@import "./form.scss";
@import "./network.scss";

.contact {
    flex-direction: column;

    h2 {
        margin-top: 20px;
    }

    h2,
    p {
        text-align: center;
    }
    
    @media screen and (min-width: 900px) {
        padding: 20px;
        padding-top: 50px;
    }
}

.contact__body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
