.contact__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 5%;
    border: 2px solid white;
    form {
        padding: 20px;
        width: 100%;
        label {
            margin: 20px 0;
        }
        button {
            display: block;
            width: 100%;
            margin-top: 20px;
            border: 2px solid black;
            background-color: rgba(32, 32, 32, 0.377);
            border-radius: 30px;
            height: 50px;
            padding: 10px;
        }
        button:active {
            background-color: rgb(160, 0, 0);
        }
    }
    @media screen and (min-width: 900px) {
        width: 50%;
    }
}

.form__input {
    @include formElement();
    height: 40px;
}

.form__textarea {
    @include formElement();
    font-size: 18px;
    resize: none;
}
