.contact__network {
    width: 100%;
    border: 2px solid #fff;
    padding: 20px;
    height: 100%;
    margin-top: 50px;
    @media screen and (min-width: 900px) {
        width: 50%;
    }
}

.network__element > img {
    display: none;
    @media screen and (min-width: 550px) {
        display: inline;
    }
}

.contact__network a {
    text-decoration: none;
}

.network__element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

.network__element > p {
    margin-left: 10px;
}

.network__button {
    border: 2px solid #fff;
    padding: 10px;
    cursor: pointer;
}

.network__button:hover {
    background-color: rgb(29, 29, 29);
}
