@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./components/app";
@import "./components/navbar/index";
@import "./components/home/index";
@import "./components/aboutme/";
@import "./components/summary/index";
@import "./components/contact/index";

* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    border: 0;

    color: #ffff;
    margin: 0;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(8, 8, 8);
    font-family: $poppins;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.227);
}

::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
    border-radius: 30px;
}

a:hover {
    color: rgb(158, 4, 4);
}

.grid__center {
    display: grid;
    place-content: center;
}

.glitch {
    animation: glitchAnimation 700ms infinite;
}

@keyframes glitchAnimation {
    0% {
        text-shadow: 0.08em 0 0 rgba(255, 0, 0, 0.75),
            -0.08em -0.055em 0 rgba(0, 255, 0, 0.75),
            -0.055em 0.08em 0 rgba(0, 0, 255, 0.75);
    }
    14% {
        text-shadow: 0.08em 0 0 rgba(255, 0, 0, 0.75),
            -0.08em -0.055em 0 rgba(0, 255, 0, 0.75),
            -0.055em 0.08em 0 rgba(0, 0, 255, 0.75);
    }
    15% {
        text-shadow: -0.08em -0.055em 0 rgba(255, 0, 0, 0.75),
            0.055em 0.055em 0 rgba(0, 255, 0, 0.75),
            -0.08em -0.08em 0 rgba(0, 0, 255, 0.75);
    }
    49% {
        text-shadow: -0.08em -0.055em 0 rgba(255, 0, 0, 0.75),
            0.055em 0.055em 0 rgba(0, 255, 0, 0.75),
            -0.08em -0.08em 0 rgba(0, 0, 255, 0.75);
    }
    50% {
        text-shadow: 0.055em 0.08em 0 rgba(255, 0, 0, 0.75),
            0.08em 0 0 rgba(0, 255, 0, 0.75), 0 -0.08em 0 rgba(0, 0, 255, 0.75);
    }
    99% {
        text-shadow: 0.055em 0.08em 0 rgba(255, 0, 0, 0.75),
            0.08em 0 0 rgba(0, 255, 0, 0.75), 0 -0.08em 0 rgba(0, 0, 255, 0.75);
    }
    100% {
        text-shadow: -0.055em 0 0 rgba(255, 0, 0, 0.75),
            -0.055em -0.055em 0 rgba(0, 255, 0, 0.75),
            -0.055em -0.08em 0 rgba(0, 0, 255, 0.75);
    }
}
