@import "./variables.scss";

@mixin formElement() {
    display: block;
    margin: 10px 0 10px 0;
    background-color: rgba(0, 0, 0, 0.73);
    border: 2px solid black;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
}
