.aboutme {
    min-height: 100vh;
    padding: 20px;
    padding-top: 80px;
    background: rgba(4, 4, 4, 0.5);
    color: white;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.aboutme p {
    color: darkgrey;
}
